<!--Diego Andres Carvallo Reyes & Benjamin Patricio Lopez Cortes-->

<!--COSAS DE LA ALERTA CUANDO SE ACTUELICE ALGO AAAAA-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<!--COSAS DE LA ALERTA CUANDO SE ACTUALICE ALGO AAAAA-->

<div *ngIf="screen==0">
<div class='container-fluid' id='vista'>
    <form [formGroup]="form" (ngSubmit)='crear()'>
    <div class='row'><label class='tituloPagina' for='tituloPagina'>Mis Notas</label></div>
    <div class='row'id='subtitulo'>Ingrese sus anotaciones y el estando en el que se encuentran </div>
    <div class='row'>
        <div class='col-8'>

                
 
                        <!--pegado del de arriba-->
                        <div class='form-floating'>    
                            
                            <input formControlName="titulo" type="text" required="true" class='form-control' id='floatingText' placeholder="titulo">
                            <label for='floatingText'>titulo de nota</label>
                            <div *ngIf="titulo.invalid" class="alert alert-danger">
                                <div class="requerido">
                                    Se requiere titulo
                                </div>
                            </div>
                        <!--pegado del de arriba-->
                        </div>
                        <!--descripcion-->
                        <div class="form-floating" id="cajaTexto">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="descripcion"></textarea>
                            <label for="floatingTextarea">Descripcion</label>
                          </div>
                        <!--descripcion-->
                        <!--boton-->
                        <!--<button type="submit" [disabled]="titulo.invalid || estado.invalid || descripcion.invalid" >Actualizar</button>-->
                        
                        <button class="btn btn-primary" type="submit"[disabled]="titulo.invalid || estado.invalid || descripcion.invalid" >Actualizar</button>     
                        <!--boton-->  

         </div>
        <!--select-->
         <div class='col-4'>    
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="estado">
                  <option selected disabled>Seleccione</option>
                  <option value="1">Iniciado</option>
                  <option value="2">En Proceso</option>
                  <option value="3">Terminado</option>
                </select>
                <label for="floatingSelect">Estado</label>
              </div>
        </div>
        <!--select-->
    </div>
    </form>
</div>
</div>

<!--ARRIBA LA PANTALLA DE ADICIONAR, ABAJO LA DE MOSTRAR-->

<div *ngIf="screen==1">
    <div class='container-fluid' id ='vista'>
        <div class="row">
            <div class= "col-3" id ="filaMostrar2">Tareas Iniciadas</div>
            <div class= "col-3" id ="filaMostrar2">Tareas En Proceso</div>
            <div class= "col-3" id ="filaMostrar2">Tareas Terminadas</div>
        </div>
        
        <div class='row' >
            <div class ='col-3'id ='filaMostrar'>
                
                <div class="btn-group-vertical">
                    <div *ngFor="let item of aIniciado" class="btn-group" role="group" aria-label="Iniciado">
                        <button id="iniciado"class="btn btn-secondary"type="button" (click)="editar(item)"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                        <button id="iniciado"type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
                    </div>
                </div>    
                <!--<li *ngFor="let item of aIniciado"> <button class="bInicio" (click)="editar(item)"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button></li>-->
            </div>
            <div class ='col-3'id ='filaMostrar'>
                <div class="btn-group-vertical">
                    <div *ngFor="let item of aProceso" class="btn-group" role="group" aria-label="Iniciado">
                        <button id="proceso"class="btn btn-secondary"type="button" (click)="editar(item)"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                        <button id="proceso"type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
                    </div>
                </div> 
                <!--<li *ngFor="let item of aProceso"><button class="bProceso">{{item["titulo"]}} <br> {{item["descripcion"]}} </button></li>-->
            </div>
            <div class ='col-3'id ='filaMostrar'>
                <div class="btn-group-vertical">
                    <div *ngFor="let item of aTerminado" class="btn-group" role="group" aria-label="Iniciado">
                        <button id="terminado"class="btn btn-secondary"type="button"> {{item["titulo"]}} <br> {{item["descripcion"]}} </button>
                        <button id="terminado"type="button" class="btn btn-secondary" (click)="eliminar(item)">X</button>
                    </div>
                </div> 
                <!--<li *ngFor="let item of aTerminado"><button class="bTerminado">{{item["titulo"]}} <br> {{item["descripcion"]}}</button></li>-->
            </div>
        </div>
        
    </div>
    <footer>
        <button class="btn btn-primary" type='button' (click)="adicionar()">Adicionar</button>
    </footer>
</div>

<!-- PANTALLA DE EDICION -->
<div *ngIf="screen==2" >
    <div class='container-fluid' id='vista'>
        <form [formGroup]="form" (ngSubmit)='actualizar()'>
        <div class='row'><label class='tituloPagina' for='tituloPagina'>Actualizar notas</label></div>
        <div class='row'id='subtitulo'>Ingrese la informacion para actualizar la nota </div>
        <div class='row'>
            <div class='col-8'>
    
                    
     
                            <!--pegado del de arriba-->
                            <div class='form-floating'>    
                                
                                <input formControlName="titulo" type="text" required="true" class='form-control' id='floatingText' placeholder="titulo">
                                <label for='floatingText'>titulo de nota</label>
                                <div *ngIf="titulo.invalid" class="alert alert-danger">
                                    <div class="requerido">
                                        Se requiere titulo
                                    </div>
                                </div>
                            <!--pegado del de arriba-->
                            </div>
                            <!--descripcion-->
                            <div class="form-floating" id="cajaTexto">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="descripcion"></textarea>
                                <label for="floatingTextarea">Descripcion</label>
                              </div>
                            <!--descripcion-->
                            <!--boton-->
                            <!--<button type="submit" [disabled]="titulo.invalid || estado.invalid || descripcion.invalid" >Actualizar</button>-->
                            
                            <button class="btn btn-primary" type="submit"[disabled]="titulo.invalid || estado.invalid || descripcion.invalid" >Actualizar</button>     
                            <!--boton-->  
    
             </div>
            <!--select-->
             <div class='col-4'>    
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="estado">
                      <option selected disabled>Seleccione</option>
                      <option value="1">Iniciado</option>
                      <option value="2">En Proceso</option>
                      <option value="3">Terminado</option>
                    </select>
                    <label for="floatingSelect">Estado</label>
                  </div>
            </div>
            <!--select-->
        </div>
        </form>
    </div>
    </div>


<div *ngIf="screen==10">
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Completado con exito
        </div>
    </div>
        <footer>
            <button class="btn btn-primary" type='button' (click)="aceptar()">Aceptar</button>
        </footer>

</div>
